[submodule "vim/.vim/bundle/a.vim"]
	path = vim/.vim/bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "vim/.vim/bundle/base16-vim"]
	path = vim/.vim/bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = git@github.com:python-mode/python-mode.git
[submodule "vim/.vim/bundle/--force"]
	path = vim/.vim/bundle/--force
	url = git@github.com:vim-scripts/a.vim.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-easytags"]
	path = vim/.vim/bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-misc"]
	path = vim/.vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/.vim/bundle/vim-nerdtree-tabs"]
	path = vim/.vim/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/.vim/bundle/vim-node"]
	path = vim/.vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "vim/.vim/bundle/vim-one"]
	path = vim/.vim/bundle/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule "vim/.vim/bundle/vim-superman"]
	path = vim/.vim/bundle/vim-superman
	url = git@github.com:jez/vim-superman.git
[submodule "vim/.vim/bundle/vim-vue"]
	path = vim/.vim/bundle/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "vim/.vim/bundle/yajs.vim"]
	path = vim/.vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/.vim/bundle/vim-racer"]
	path = vim/.vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim/.vim/bundle/FlatColor"]
	path = vim/.vim/bundle/FlatColor
	url = git@github.com:MaxSt/FlatColor.git
[submodule "vim/.vim/bundle/neodark.vim"]
	path = vim/.vim/bundle/neodark.vim
	url = git@github.com:KeitaNakamura/neodark.vim.git
[submodule "vim/.vim/bundle/onedark.vim"]
	path = vim/.vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
